# Игнорирование настроек IDE (PyCharm, IntelliJ)
.idea/

# Игнорирование папок с кэшами Python
__pycache__/

# Игнорирование файлов базы данных SQLite
*.db

# Лог-файлы
*.log

# Другие временные файлы
.DS_Store   # Для macOS


